.header {
  background-color: #131921;
  color: white;
  padding: 15px 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h2 {
  margin: 0;
}

.search-bar {
  display: flex;
  width: 45%;
}

.search-bar input {
  flex: 1;
  padding: 10px;
  border: none;
}

.search-bar button {
  background: #febd69;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 20px;
  cursor: pointer;
}